/* Tipografía */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

/**************************************************
RESETS START
***************************************************/

/* Defining Custom properties */

:root {
  /* Colors */
  --principal: #7837e4;
  --principal2: #ae93fb;
  --principal3: #d9c8e7;

  /* Fonts colors */
  --color-principal: #f0f0f0;
  --color-secundario: #4e4352;

  /* Tipography */
  --tipo-principal: Lato, sans-serif;
  --tipo-secundaria: Inter, sans-serif;
  /* Background */
  --background-principal: #1f2023;
  --background-secundario: #7d5b89;

  --box-color-principal: #323232;

  --box-shadow-principal: 1px 0px 20px rgba(171, 171, 171, 0.539);
}

/* Resetting the margins and paddings of all labels */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Avoiding problems with images */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Resetting the links to function as boxes... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ...except those found in paragraphs */
p a {
  display: inline;
}

/* Removing dots from <li> */
li {
  list-style-type: none;
}

/* Setting up soft anchors */
html {
  scroll-behavior: smooth;
}

/* Disabling default styles of main text labels */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Avoiding problems with quotes pseudo-elements */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Setting the text I select */
::-moz-selection {
  background-color: var(--background-principal);
  color: var(--color-principal);
}
::selection {
  background-color: var(--background-principal);
  color: var(--color-principal);
}

/* Avoiding font and form placement problems */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Resetting the tables */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Avoiding problems with SVGs */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Typography for the entire web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--color-principal);
  background-color: var(--background-principal);
  background-size: 120%;
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: var(--tipo-secundaria);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2rem;
}

h3 {
  font-family: var(--tipo-principal);
  font-size: 1.3rem;
  font-weight: 400;
}

strong {
  font-weight: 800;
  color: #d5f365;
}

/**************************************************
Defining Container
***************************************************/

.container__projects {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem;
  grid-gap: 1rem;
}

/**************************************************
Styles 
***************************************************/

/* === Header ===*/

.header__projects {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(82, 95, 162, 0.836), rgb(159, 140, 208));
  padding: 1rem 2rem;
  border-radius: 10px;
}

.header__projects h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--color-principal);
}

.header__projects i:hover {
  color: var(--principal3);
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.header__projects i {
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-principal);
}

/* === Filters ===*/

.portfolio_filters {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 70px;
}

.portfolio_container li {
  display: inline-block;
  margin: 15px 5px;
  padding: 5px 20px;
  border-radius: 10px;
  background-image: linear-gradient(rgba(82, 95, 162, 0.836), rgb(159, 140, 208));
  color: var(--color-principal);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.portfolio_container li:hover,
.filter.active {
  background-image: linear-gradient(rgb(159, 140, 208), rgba(65, 76, 132, 0.884));
  color: var(--color-principal);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

/* === Cards ===*/

.portfolio_wrap-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  position: relative;
}

.portfolio_item {
  position: relative;
  border-radius: 10px;
  box-shadow: var(--box-shadow-principal);
  transition: all 0.3s ease-in-out;
}

.portfolio_wrap{
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio_wrap img {
  border-radius: 10px;
}

.portfolio_wrap::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-top: 3px solid rgba(214, 214, 214, 0.7);
  border-left: 3px solid rgba(214, 214, 214, 0.7);
  transition: .4s;
  transform: scale(0)
}

.portfolio_wrap::after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-bottom: 3px solid rgba(214, 214, 214, 0.7);
  border-right: 3px solid rgba(214, 214, 214, 0.7);
  transition: .4s;
  transform: scale(0)
}

.portfolio_wrap:hover::before,
.portfolio_wrap:hover::after {
  transform: scale(1)
}

.portfolio_info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  background-color: #3c3c3ce2;
  transform: scale(0);
  transition: .4s;
  border-radius: 10px;
  color: #fff;
}

.portfolio_wrap:hover .portfolio_info{
  transform: scale(1);
}

.portfolio_info h4{
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.portfolio_info p{
  display: inline-block;
  background-color: #4e43528d;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 80%;
  text-align: center;
}

.portfolio_skills{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.portfolio_skills h4 {
  display: inline-block;
  padding: .2rem .5rem;
  background-color: #d5d5d5;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-secundario);
}

.portfolio_links a{
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
  padding: .4rem .9rem;
  margin: 3rem 0.5rem;
  border-radius: 10px;
  border: 0.5px solid var(--color-principal);
  background-image: linear-gradient(var(--principal), var(--principal2));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
} 

.portfolio_links a:hover{
  background-image: linear-gradient(var(--principal2), var(--principal));
  color: var(--color-principal);
  font-weight: 700;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}


.portfolio_links i {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-principal);
}


@media screen and (max-width: 992px) {
  .portfolio_wrap-container {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .portfolio_item {
    width: 100%;
  }

  .portfolio_item:hover {
    transform: scale(1);
  }

  .portfolio_info p{
    width: 90%;
  }

  .portfolio_links a{
    margin: 1rem 0.5rem;
  }

  .portfolio_links i {
    font-size: 1.5rem;
  }

  .portfolio_info h4{
    font-size: 1.5rem;
  }

  .portfolio_info p{
    font-size: 0.9rem;
  }

  .portfolio_skills h4 {
    font-size: 1rem;
  }

  .portfolio_container li {
    font-size: 0.8rem;
    font-weight: 700;
  }


}