/* Tipografía */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

/**************************************************
RESETS START
***************************************************/

/* Defining Custom properties */

:root {
    /* Fonts colors */
    --color-principal: #f0f0f0;
    --color-secundario: #4e4352;
    /* Tipography */
    --tipo-principal: Lato, sans-serif;
    --tipo-secundaria: Inter, sans-serif;
    /* Background */
    --background-principal: #444;
    --background-secundario: #9b76a9;

    --box-shadow-principal: 0 0 20px rgba(0, 0, 0, 0.5)
}

/* Resetting the margins and paddings of all labels */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}

/* Avoiding problems with images */
img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
    object-fit: cover;
    /* opcional */
    -o-object-position: center center;
    object-position: center center;
}

/* Resetting the links to function as boxes... */
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

/* ...except those found in paragraphs */
p a {
    display: inline;
}

/* Removing dots from <li> */
li {
    list-style-type: none;
}

/* Setting up soft anchors */
html {
    scroll-behavior: smooth;
}

/* Disabling default styles of main text labels */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

/* Avoiding problems with quotes pseudo-elements */
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

/* Setting the text I select */
::-moz-selection {
    background-color: var(--background-principal);
    color: var(--color-principal);
}
::selection {
    background-color: var(--background-principal);
    color: var(--color-principal);
}

/* Avoiding font and form placement problems */
form,
input,
textarea,
select,
button,
label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Resetting the tables */
table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Avoiding problems with SVGs */
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

/* Typography for the entire web */
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--color-principal);
    /* opcional */
    line-height: 1.4em;
    /* opcional */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    /* opcional */
    font-smooth: always;
    /* opcional */
    -webkit-font-smoothing: antialiased;
    /* opcional */
    -moz-osx-font-smoothing: grayscale;
}


/**************************************************
Defining GRID
***************************************************/

.container {
    height: 150vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "main main main languaje"
    "main main main theme"
    "linkedin contact projects projects"
    "github github skills  xp";
    grid-gap: 1rem;
}

h2{
    font-family: var(--tipo-secundaria);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2rem;
}

h3{
    font-family: var(--tipo-principal);
    font-size: 1.3rem;
    font-weight: 400;
}

strong{
    font-weight: 800;
}

@media only screen and (max-width: 700px) {
    .container {
        height: 200vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 2fr 0.5fr 1fr 1fr 1fr;
        grid-template-areas: 
        "languaje theme"
        "main main"
        "linkedin github"
        "projects projects"
        "skills skills"
        "contact xp";
    }
    
}



/**************************************************
Styles of each BOX
***************************************************/


/* === Main Box ===*/

.main {
    grid-area: main;
    border-radius: 1rem;
    background-color: var(--background-principal);
    background-image: url(../images/home-cesar.png);
    background-size:65%;
    background-position: 140% 8%;
    background-repeat: no-repeat;
    color: var(--color-principal);
    padding: 2rem; 
    display: flex;   
    align-items: end;
}

.main:hover{
    background-position: 140% 10%;
    background-size: 65%;
    transition: all 0.3s ease-in-out;
    transform: scale(1.01);
    box-shadow: var(--box-shadow-principal);
}

.main h2, h3{
    width: 70%;
    padding-bottom: 2rem;
}

/* === Languaje Box ===*/

.languaje {
    grid-area: languaje;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-principal);
    color: var(--color-principal);
}

.languaje:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.01);
    box-shadow: var(--box-shadow-principal);
}

.languaje h2{
    font-size: 2rem;
}

.languaje__op{
    display: flex;
    padding: 1rem;
}

.languaje__op button {
    position: relative;
    padding: 12px 35px;
    background: #FEC195;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 1px solid #FEC195;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
    margin: 0.4rem;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
  }
  
  button:hover {
    background: transparent;
    color: #FEC195;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #FFFDEF
  }


/* === Theme Box ===*/

.theme {
    grid-area: theme;
    border-radius: 1rem;
    background-color: var(--background-principal);
    color: var(--color-principal);
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.02);
    box-shadow: var(--box-shadow-principal);
}

/* === Linkedin Box ===*/

.linkedin {
    grid-area: linkedin;
    border-radius: 1rem;
    background-color: var(--background-principal);
    color: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.linkedin:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.02);
    box-shadow: var(--box-shadow-principal);
}

.linkedin i{
    font-size: 5rem;
}

/* === Github Box ===*/

.github {
    grid-area: github;
    background-image: url(../images/gifs/giphy8.gif);
    background-size: cover;
    border-radius: 1rem;
    background-color: var(--background-principal);
    color: var(--color-principal);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    cursor: pointer;
}

.github:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.01);
    box-shadow: var(--box-shadow-principal);
}

.github i{
    font-size: 3rem;
}

/* === Project Box ===*/

.projects {
    grid-area: projects;
    background-image: url(../images/gifs/giphy7.gif);
    border-radius: 1rem;
    background-color: var(--background-principal);
    color: var(--color-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.5rem;
    cursor: pointer;
}

.projects:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.01);
    box-shadow: var(--box-shadow-principal);
}

/* === Skills Box ===*/

.skills {
    grid-area: skills;
    border-radius: 1rem;
    background-color: var(--background-principal);
    color: var(--color-principal);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.skills i{
    font-size: 4rem;
}

/* === Contact Box ===*/

.contact {
    grid-area: contact;
    border-radius: 1rem;
    background-color: var(--background-principal);
    color: var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.02);
    box-shadow: var(--box-shadow-principal);
}

.contact h2{
    font-size: 5rem;
    font-weight: 800;
}

/* === Experience Box ===*/

.xp {
    grid-area: xp;
    border-radius: 1rem;
    background-color: var(--background-principal);
    color: var(--color-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}   

.xp h2{
    font-size: 5rem;
    font-weight: 800;
}

.xp h3{
    font-size: 1rem;
    text-transform: uppercase;
    width: 40%;
    padding-bottom: 0;
    text-align: center;
}


/********************************************************************** 
Styles theme box
***********************************************************************/
.theme-switch {
    --toggle-size: 30px;
    /* the size is adjusted using font-size,
       this is not transform scale,
       so you can choose any size */
    --container-width: 5.625em;
    --container-height: 2.5em;
    --container-radius: 6.25em;
    /* radius 0 - minecraft mode :) */
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 2.125em;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
  }
  
  .theme-switch, .theme-switch *, .theme-switch *::before, .theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
  }
  
  .theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }
  
  .theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
  }
  
  .theme-switch__checkbox {
    display: none;
  }
  
  .theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
  }
  
  .theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  .theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }
  
  .theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  }
  
  .theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
  }
  
  .theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
  }
  
  .theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  }
  
  .theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  /* actions */
  
  .theme-switch__checkbox:checked + .theme-switch__container {
    background-color: var(--container-night-bg);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
  }
  
  .theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }